<div class="container h2_margin">
  <h2>Users</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<div class="card my-5" id="user-list">
  <div class="card-body">
    <table class="table table-dark table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.lastname }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
